{% extends 'base.html' %}
{% load static %}

{% block title %}Nouveau sujet{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
  {#<li class="breadcrumb-item"><a href="{% url 'forum:topics' id=board.pk slug=board.slug %}">{{ board.name }}</a></li>#}
  <li class="breadcrumb-item active">Nouveau sujet</li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}
{% block js %}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: document.querySelector("textarea"),
            forceSync: true
        });
    </script>
{% endblock %}
