{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forums</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
    {% include 'includes/secondary-navtabs.html' %}
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th class="border-top-0">Sujet</th>
                <th class="border-top-0">Auteur</th>
                <th class="border-top-0">Réponses</th>
                <th class="border-top-0">Vues</th>
                <th class="border-top-0">Dernier message</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in object_list %}
            <tr>
                <td><a href="{% url 'forum:show_topic' slug=board.slug id_post=topic.pk slug_post=topic.slug %}">{{ topic.subject }}</a></td>
                <td>{{ topic.starter.username }}</td>
                <td>{{ topic.replies }}</td>
                <td>{{ topic.views }}</td>
                <td>
                    {% with post=topic.get_last_post %}
                    {% if post %}
                    <small>
                        <a href="{% url 'forum:show_topic' slug=board.slug id_post=post.topic.pk slug_post=post.topic.slug %}#dernier">
                            {{ post.created_by.username }} le {{ post.created }}
                        </a>
                    </small>
                    {% else %}
                    <small class="text-muted">
                        <em>Pas de message</em>
                    </small>
                    {% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'includes/paginator.html' %}
{% endblock %}
