{% extends 'base_registration.html' %}

{% load static %}
{% block title %}se connecter - {{ block.super }}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">se connecter</h2>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    Vous êtes nouveau sur le forum ? <a href="{% url 'registration:signup' %}">S'inscrire</a>
                </div>
            </div>
            <div class="text-center py-2">
                <small>
                    <a href="#" class="text-muted">Vous avez oublié votre mot de passe ?</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}
