<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/' %}active{% endif %}" href="{% url 'forum:index' %}">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/derniers-sujets.html' %}active{% endif %}" href="{% url 'forum:last_topics' categories="derniers-sujets" %}">Derniers sujets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#profile">Dernières réponses</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/mes-sujets.html' %}active{% endif %}" href="{% url 'forum:last_topics' categories="mes-sujets" %}">Mes sujets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#profile">Mes discussions</a>
        </li>
        {% endif %}
        <li class="nav-item last">
            <a href="#" class="btn btn-primary">Nouveau sujet</a>
        </li>
    </ul>
</nav>
