{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Forum{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/yeti.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{% url 'forum:index' %}">Forum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username|title }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <a class="dropdown-item" href="{% url "registration:profile" %}">Mon compte</a>
                                <a class="dropdown-item" href="{% url "registration:password_change" %}">Changer le mot de passe</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'registration:logout' %}">se déconnecter</a>
                            </div>
                        </li>
                    </ul>
                    {% else %}
                    <div class="form-inline ml-auto">
                        <a href="{% url 'registration:login' %}" class="btn btn-info">se connecter</a>
                        <a href="{% url 'registration:signup' %}" class="btn btn-primary ml-2">s'inscrire</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            <ol class="breadcrumb my-4">
                {% block breadcrumb %}{% endblock %}
            </ol>
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
        {% include 'includes/flash.html' with messages=messages %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>
