{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forum</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item active">Forum</li>
            </ol>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Forum</th>
                        <th>Nombre de messages</th>
                        <th>Nombres de commentaires</th>
                        <th>Dernier message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for board in boards %}
                    <tr>
                        <td>
                            {{ board.name }}
                            <small class="text-muted d-block">{{ board.description }}</small>
                        </td>
                        <td class="align-middle">0</td>
                        <td class="align-middle">0</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>

