{% extends 'base_account.html' %}

{% block title %}redéfinition du mot de passe{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">redéfinition du mot de passe</h2>
                <p>Consultez votre courriel pour trouver un lien permettant de réinitialiser votre mot de passe. S'il n'apparaît pas dans les minutes qui suivent, vérifiez votre dossier de courrier indésirable.</p>
                <a href="{% url 'account:login' %}" class="btn btn-secondary btn-block">se connecter</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}