{% extends 'base_account.html' %}

{% block title %}Redéfinir mot de passe{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Redéfinir mot de passe</h2>
                <p>Saisissez votre email afin de redéfinir votre mot de passe</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-primary btn-block">envoyer email</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}