{% extends 'base.html' %}

{% block title %}Changement de mot de passe réussi{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'account:password_change' %}">Changement de mot de passe</a></li>
<li class="breadcrumb-item active">Réussi</li>
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
    <strong>Réussi!</strong> Votre mot de passe vient d'être changé
</div>
<a href="{% url 'boards:index' %}" class="btn btn-secondary">Retour à l'accueil</a>
{% endblock %}