<p>
Bonjour,
</p>

<p>
Vous avez demandé une réinitialisation du mot de passe pour l'adresse e-mail {{ email }}.
Suivez le lien ci-dessous :
<a href="{{ protocol }}://{{ domain }}{% url 'registration:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'registration:password_reset_confirm' uidb64=uid token=token %}</a>
</p>

<p>
Si vous avez oublié votre nom d'utilisateur : {{ user.username }}
</p>

<p>
Si cliquer sur le lien ci-dessus ne fonctionne pas, copiez et collez l'URL
dans une nouvelle fenêtre de navigateur à la place.
</p>

<p>
Si vous avez reçu ce courrier par erreur, il est probable qu'un autre utilisateur ait saisi
votre adresse e-mail par erreur en essayant de réinitialiser un mot de passe. Si vous n'avez pas
initié la demande, vous n'avez pas besoin de prendre d'autres mesures et pouvez
ignorer cet e-mail en toute sécurité.
</p>

<p>
Merci,
<br>
L'équipe du Forum
</p>
