{% extends 'base.html' %}

{% load static %}

{% block title %}Mon profile{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Mon profile</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' with form=form %}
            {% include 'includes/form.html' with form=profile_form %}
            <button type="submit" class="btn btn-success">Sauvegarder</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
        (()=>{
            var simplemde = new SimpleMDE({
                element: document.querySelector("textarea"),
                forceSync: true
            })
            var $linkThemeUser = document.getElementById('theme-user'),
                $selectTheme = document.querySelector('#id_theme')
            $selectTheme.addEventListener('change', e =>{
                let theme_selected = e.target.querySelector(`option[value='${e.target.value}']`).textContent,
                    pattern = /^(.+\/)(\w+)(\.css)$/
                $linkThemeUser.href = $linkThemeUser.getAttribute('href').replace(pattern, `\$1${theme_selected}\$3`)
            })
        })()
    </script>
{% endblock %}
