{% extends 'base.html' %}

{% block title %}Nouveau sujet{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
  <li class="breadcrumb-item"><a href="{% url 'forum:topics' id=board.pk slug=board.slug %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">Nouveau sujet</li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}
