<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if request.get_full_path == topics_urls.topics %} active{% endif %}" href="{% url 'forum:topics' slug=board.slug %}">Derniers sujets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if request.get_full_path == topics_urls.most_read %} active{% endif %}" href="{% url 'forum:most_read' slug=board.slug %}">Les plus lus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if request.get_full_path == topics_urls.most_answers %} active{% endif %}" href="{% url 'forum:most_answers' slug=board.slug %}">Les plus répondus</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link{% if request.get_full_path == topics_urls.which_user_replied %} active{% endif %}" href="{% url 'forum:which_user_replied' slug=board.slug %}">Mes discussions</a>
        </li>
        {% endif %}
        <li class="nav-item last">
            <a href="{% url 'forum:create' %}" class="btn btn-primary">Nouveau sujet</a>
        </li>
    </ul>
</nav>
